/* style.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.header nav ul li {
    margin: 0 10px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.content {
    padding: 60px 20px; /* Espaço para evitar sobreposição com o header fixo */
    flex: 1; /* Faz o conteúdo ocupar o espaço restante */
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
